* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3498DB;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

form {
  border: 4px solid black;
  border-radius: 10px;
  background-color: #D5D8DC ;
  padding: 50px;
  font-size: 34px;
  font-weight: bold;
  color: #000;
}

input, label {
  display: flex;
  margin-bottom: 24px;
}

input {
  height: 40px;
  width: 400px;
}

button {
  justify-content: center;
  background-color: #3498DB;
  font-size: 20px;
  color: white;
  padding: 7px 30px 7px 30px;
  margin-left: 100px;
  border-radius: 10px
}

button:hover {
  background-color: #76b7e2;
  cursor: pointer;
}

.correct {
  background-color: green;
  border-radius: 10px;
  padding: 10px;
}

.error {
  background-color: red;
  border-radius: 10px;
  padding: 10px;
}